@keyframes float {
    0% {
      transform: translatey(0px);
    }
    25% {
      transform: translatex(20px);
    }
    50% {
      transform: translatey(-20px);
    }
    75% {
      transform: translatey(20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
@keyframes floattext {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  #section1 {
    scroll-margin-top: 150px;
  }
  .las {
    width:500px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
  }
  .cont-sec1-right {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:15px;
}
.cont-sec1-right > h3 {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    /* align-items: justify; */
    text-align: justify;
}
.shine {
    margin-left: 10px;
    width: 140px;
    animation: floattext 3s ease-in-out infinite;
}
.shine:hover {
    width: 145px;
    cursor: pointer;
}
.container-sec1 {
    gap: 30px;
    margin-bottom: 150px;
    border-radius: 15px;
    margin-top: 150px;
}
.cont-sec1-left {
    display: flex;
    flex-direction: column;
    gap: 10px
    /* align-items: center; */
    
}
.cont-sec1-left > h1 {
    background-color: blue;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    background: -webkit-linear-gradient(#24275C,#24275C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 572px) {
    /* For desktop: */
    .container-sec1 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .las {
      width:100%;    
    }
  
  }
  @media only screen and (max-width: 438px) {
    /* For desktop: */
    .cont-sec1-left > h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .cont-sec1-right > h3 {
        /* font-weight: 400; */
        font-size: 13px;
        /* line-height: 28px; */
        /* align-items: justify; */
        text-align:left;
    }

  
  }