* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.bg-navy {
  background-color: #24275C;
}
.bg-yellow {
  background-color: #DBA925;
}
.purple {
  color: #24275C;
}
.yellow {
  color:#DBA925;
}
.py-140 {
  padding-top: 140px;
  padding-bottom: 140px;
}
.mt-200{
  margin-top: 200px;
}
.mb-150{
  margin-bottom: 150px;
}
.t-white {
  color: white;
}
.fw-bold {
  font-weight: bold;
}
.sub-title {
  font-size: 28px;
}