.wrap-head {
  /* background-color: aquamarine; */
  /* background-image: url(../../Images/display-produk.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  padding: 100px 50px 100px 50px;
  margin-top: 70px;
  height: 550px;
  background-position: 0% 20%;
  background: linear-gradient(49deg, rgba(16, 24, 82, 0.98) 20.75%, rgba(0, 0, 0, 0.00) 100%), url(../../Images/display-produk.png) no-repeat center / cover;
  position: relative;
  display: flex;
  align-items: center;
}
.container-head {
  display: flex;
  /* margin-top: 40px; */
  /* align-items: center; */
  flex-direction: column;
  /* justify-content: center; */
  width: 350px;
  /* gap: 90px; */
}
.container-head > h1 {
  color: white;
  font-weight: 400;
  font-size: 4rem;
}
.container-head > h3 {
  margin-top: 10px;
  color: white;
  font-weight: 300;
  line-height: 40px;
}
#slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.cont-head {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.mid-anim {
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
.cont-head > h2 {
  /* opacity: 50%; */
  color: white;
}
.cont-head > img {
  /* opacity: 50%; */
  /* width: 300px !important; */
  height: 100px;
}
@media only screen and (max-width: 767px) {
  .container-head > h1 {
    font-size: 2rem;
  }
  .container-head > h3 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 385px) {
  .container-head {
    width: 250px;
  }
  .container-head > h1 {
    font-size: 1.7rem;
  }
}